* {
    margin: 20px;
}

table {
    margin: 0 auto;
    border-spacing: 30px;
}
td {
        width: 60px; height: 60px;
        background: rgb(3, 175, 3) ; 
        border:5px solid rgb(230, 89, 38);
    }

tr:nth-child(even) td:nth-child(odd) , 
tr:nth-child(odd) td:nth-child(even)
{   background: rgb(230, 89, 38); 
        border:5px solid rgb(3, 175, 3);
        /* padding: 5px; */
}

  div:nth-child(odd) {
    /* background:rgb(3, 175, 3); 
    border: 7px solid rgb(3, 175, 3); */
    padding: 5px;
    background: rgb(230, 89, 38);
    border: 7px solid rgb(230, 89, 38);
  }

  /* div:nth-of-type(even) {
    padding: 5px;
    background:rgb(3, 175, 3); 
    border: 7px solid rgb(3, 175, 3); 
  } */